extend page-layout



mixin itemValue(value, prop)
    case prop
        when 'name'
            span.given-name= meta.creator.givenName
            | &nbsp;
            span.family-name= meta.creator.familyName

        when 'address'
            if value.addressLocality
                span.locality(itemprop="addressLocality")= value.addressLocality
            if value.addressCountry
                | ,&nbsp;
                span.country-name(itemprop="addressCountry")= value.addressCountry

        when 'url'
            //- display just domain host
            a(class=prop, href=value)= value.replace(/^https?:\/\/([^\/]+).*$/, '$1')

        when 'email'

            a(class=prop, href="mailto:"+value)
                i.icon-large.icon-envelope
                | #{value}

        when 'image'
            img.photo(itemprop=prop, alt="Photo", src=value)

        when 'birthDate'
            time.bday(itemprop=prop, datetime=value) 14 August 1984

        default
            if typeof value == 'object'
                if value.url
                    a(itemprop="url", href=value.url)
                        if value.name
                            span(itemprop="name")= value.name

                        else
                            | #{value.url}

                else if value.name
                    span(itemprop="name")= value.name

            else
                | #{value}



mixin itemDefinition(value, prop)
    - var propLabels = { '@type': false, 'birthDate': 'Birth date', 'address': 'Locality', 'allumniOf': 'Allumni of', 'image': 'Photo', 'givenName': false, 'url': 'Website', 'familyName': false, 'jobTitle': 'Job title', 'worksFor': 'Works for' }
    - var classMap = { 'birthDate': false, 'address': 'adr', 'image': false, 'name': 'fn', 'jobTitle': 'role', 'worksFor': 'org' }

    - var itemTermClass = prop == 'image' && 'hide' || ''
    - var itemClass = classMap[prop] !== false && (classMap[prop] || prop) || ''

    unless propLabels[prop] === false
        dt(class=itemTermClass)= propLabels[prop] || prop.charAt(0).toUpperCase() + prop.substr(1)

        if typeof value == 'object'
            dd(class=itemClass, itemprop=prop, itemtype=value['@type'], itemscope)
                +itemValue(value, prop)

        else if prop == 'image' || prop == 'birthDate'
            dd(class=itemClass)
                +itemValue(value, prop)

        else
            dd(class=itemClass, itemprop=prop)
                +itemValue(value, prop)


block append head
    link(rel="profile", href="http://microformats.org/profile/hcard")


block content

  article.content
    include:markdown-it ../content/about.md

mixin vcard
    aside.vcard(itemprop="creator", itemtype="http://schema.org/Person", itemscope)
        h2 Contact
        dl
            each value, prop in meta.creator
                +itemDefinition(value, prop)


            dt Twitter
            dd
                a(href="http://twitter.com/pampo")
                    i.icon-large.icon-twitter
                    | @pampo

            dt Facebook
            dd
                a(href="http://facebook.com/jamespamplin")
                    i.icon-large.icon-facebook
                    | facebook

            dt Github
            dd
                a(href="https://github.com/jamespamplin")
                    i.icon-large.icon-github
                    | github

            dt Linkedin
            dd
                a(href="http://www.linkedin.com/in/jamespamplin")
                    i.icon-large.icon-linkedin
                    | linkedin

            dt Google+
            dd
                a(href="https://plus.google.com/101334522728234012326?rel=author")
                    i.icon-large.icon-google-plus
                    | google+
